<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/style.css">
    <!---we had linked our css file----->

</head>

<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href='website.html'>Expense Tracker </a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='#'>Home</a></li>
                    <li><a href='#'>About Us</a></li>
                    <li><a href='#'>Services</a></li>
                    <li><a href='#'>Contact</a></li>
                    <li><button class='loginbtn'
                            onclick="document.getElementById('login-form').style.display='block'"
                            style="width:auto;">Login</button></li>
                </ul>
            </nav>
        </div>
        <div id='login-form' class='login-page'>
    
            <div class="form-box">
                <div class='button-box'>
                    <div id='btn'></div>
                    <button type='button' onclick='login()' class='toggle-btn'>Log In</button>
                    <button type='button' onclick='signup()' class='toggle-btn'>Signup</button>
                </div>
                <form id='login' action="/login" method="post"  class='input-group-login'>
                    <input type='text' class='input-field' name="username" placeholder='Email Id' required>
                    <input type='password' class='input-field' name="password" placeholder='Enter Password' required>
                    <!-- <input type='checkbox' class='check-box'><span>Remember Password</span> -->
                    <button type='submit' class='submit-btn'>Log in</button>
                </form>
                <form id='signup' action="/register" method="post" class='input-group-signup'>
                    <input type='text' class='input-field' name="username" placeholder='Name' required>
                    <!-- <input type='text' class='input-field' placeholder='Last Name ' required> -->
                    <input type='email' class='input-field' name="email" placeholder='Email Id' required>
                    <input type='password' class='input-field' name="password" placeholder='Enter Password' required>
                    <!-- <input type='password' class='input-field' placeholder='Confirm Password' required> -->
                    <input type='checkbox' class='check-box'><span>I agree to the terms and conditions</span>
                    <button type='submit' class='submit-btn'>Signup</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/home.js"></script>
</body>

</html>